<%- include header %>
<div class="am-g">
  <div class="am-u-lg-6 am-u-sm-centered">
    <form method="post" class="am-form">
      <input type="text" name="search">
      <br/>
      <div class="am-cf">
       <input type="submit" value="搜索" class="am-btn am-btn-primary am-btn-sm am-fl">        
      </div>
    </form>   
  </div>
</div>
<%- include footer %>